In [5]:
print(0 or 3 or 4)

3

In [58]:
r = 'tomato'
l = reversed(r)
list(l)

['o', 't', 'a', 'm', 'o', 't']

In [14]:
r = [1,2,3]
l = r.reverse()
print(r)

[3, 2, 1]

In [21]:
li = [1,2,3,4,5,6,7,8,9,100]
val = [0,4,5,3]
result = []
for num in val:
    result.append(li[num])

k = sorted(result)
print(result, k)

[1, 5, 6, 4] [1, 4, 5, 6]

In [23]:
cube = lambda n : n**3
cube(3)

27

In [25]:
[x for x in range(2,11,2)]

[2, 4, 6, 8, 10]

In [28]:
[(x,y,z) for x in range(1,50) for y in range(x+1, 50) for z in range(y +1, 50) if x**2 + y**2 == z**2]

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (9, 40, 41),
 (10, 24, 26),
 (12, 16, 20),
 (12, 35, 37),
 (15, 20, 25),
 (15, 36, 39),
 (16, 30, 34),
 (18, 24, 30),
 (20, 21, 29),
 (21, 28, 35),
 (24, 32, 40),
 (27, 36, 45)]

In [32]:
words = 'life is too short. you need python'
vowels = 'aeiou'

[alph for alph in words if alph not in vowels]

['l',
 'f',
 ' ',
 's',
 ' ',
 't',
 ' ',
 's',
 'h',
 'r',
 't',
 '.',
 ' ',
 'y',
 ' ',
 'n',
 'd',
 ' ',
 'p',
 'y',
 't',
 'h',
 'n']

In [35]:
cubic_dict = { n:n**3 for n in range(1,10)}
print(cubic_dict)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}

In [37]:
dusts = {'서울':100, '대전':90, '부산':70, '광주':40 }

bad = {city:dust for city, dust in dusts.items() if dust>80 }

In [39]:
print(bad)

{'서울': 100, '대전': 90}

In [41]:
how_bad = {city: 'bad' if dust>80 else 'not bad' for city, dust in dusts.items() }
print(how_bad)

{'서울': 'bad', '대전': 'bad', '부산': 'not bad', '광주': 'not bad'}

In [43]:
words = 'hello my name is jiwon'
vowels = 'aeiouAEIOU'

result = "".join([x for x in words if x not in vowels])
print(result)

hll my nm s jwn

In [45]:
def rem_all (t, li):
    for num in range(0, li.count(t)):
        li.remove(t)
        
li = [1,2,2,3,4,5,6,7,7,7,8]
t = 7
rem_all(t,li)
print(li)

[1, 2, 2, 3, 4, 5, 6, 8]

In [48]:
put = '1 2 3 4 5'

r = list(map(int, put.split()))
print(r)

[1, 2, 3, 4, 5]

In [51]:
li = [22,23,24,100]
result = "".join(map(str,li))
print(result)

222324100

In [55]:
n = [1,2,3]
r = [x**3 for x in n]
print(r)

[1, 8, 27]

In [59]:
def is_palindrome(txt):
    txt = txt.lower()
    txt = txt.replace(" ", "")
    rev = "".join(reversed(txt))
    if rev == txt:
        return True
    return False

is_palindrome('A santa at nasa')

True

In [1]:
'hihihi hello hihihiih'.rstrip('hi')

'hihihi hello '

In [3]:
li = [1,2,3,4]
li.index(8)

ValueError: 8 is not in list

In [10]:
a= 'he llo'
a.find('l')

3

In [12]:
li = [1,2,3,4]
li.reverse()
li.pop(7)
print(li)

IndexError: pop index out of range

In [14]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [17]:
def fibo_list (n):
    if n == 1:
        return [1]
    elif n == 2:
        return [1,1]
    else:
        return fibo_list(n-1) + [(fibo_list(n-1)[-1] + fibo_list(n-1)[-2])]
    
fibo_list(6)

[1, 1, 2, 3, 5, 8]

In [20]:
def bisection(n, up=1, down=2, count = 1):
    if count == 1:
        down = n
    temp = (up+down)/2
    count += 1
    if n<temp**2<down**2:
        down = temp
        return bisection(n, up, down, count)
    elif up**2 < temp**2 <n:
        up = temp
        return bisection(n, up, down, count)
    if round(up,5) == round(down, 5):
        return round(up,5)
    
bisection(4)

2.0

In [22]:
words = 'hi i\'m about to take an exam'
vowels = 'aeiouAEIOU'
result = "".join([x for x in words if x not in vowels])

In [24]:
print(result)

h 'm bt t tk n xm

In [28]:
boys = ['a', 'b', 'c']
girls = [1,2,3]

result = [(girl, boy) for girl in girls for boy in boys]
print(result)

[(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'), (3, 'a'), (3, 'b'), (3, 'c')]

In [29]:
def is_palindrome(txt):
    txt = txt.lower()
    txt = txt.replace(" ", "")
    rev = "".join(reversed(txt))
    if rev == txt:
        return True
    
is_palindrome('a santa at NASA')

True

In [27]:
a = print('a')
print(a)

a
None