In [2]:
print(3 and 5 or 7 and 9)

5

1. 팩토리얼
2. 치킨쿠폰
3. 피보나치
4. 스퀘어루트

In [7]:
#1. 팩토리얼

def fac (n):
    if n == 1:
        return 1
    else: 
        return n*fac(n-1)
    
fac(5)
#1*2*3*4*5

120

In [9]:
def chick_coupon(coupon=10, free=3, chick=0):
    coupon -= free
    chick += 1
    coupon += 1
    if coupon >= free:
        return chick_coupon(coupon, free, chick)
    else:
        return chick
    
chick_coupon()

4

In [15]:
def fibo (n):
    if n == 1 or n == 2:
        return 1
    else:
        return fibo(n-1)+ fibo(n-2)
fibo(7)

#1, 1, 2, 3, 5, 8, 13, 21, 34

13

In [34]:
def fibo_list(n):
    if n==1 :
        return [1]
    elif n==2 :
        return [1,1]
    else:
        return fibo_list(n-1) + [(fibo_list(n-1)[-1]+fibo_list(n-1)[-2])]
    
print(fibo_list(16))

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987]

In [35]:
a = [1] + [1]
[a[-1] + a[-2]]

[2]

In [55]:
#이분법
def square_root (n, up=1, down=2, count=1):           #up은 1로 고정!!
    if count == 1:
        down = n
    temp = (up+down)/2
    count += 1
    if up**2<temp**2<n: #제곱 빼먹지마라 제발
        up = temp
        return square_root(n, up, down, count)
    elif n<temp**2<down**2:
        down = temp
        return square_root(n, up, down, count)
    if round(up, 5) == round(down, 5):
        return round(up,5)
print(square_root(7))

2.64575

In [2]:
def max_int (li):
    biggest = li[0]
    for num in li:
        if num > biggest:
            biggest = num
    return biggest

print(max_int([1,4,8,9,12,56]))

56

In [37]:
li = (1,2,3)
r = reversed(li)
print(list(r))

[3, 2, 1]

In [39]:
userinput = input()
l = userinput.split(" ")
print(l)

3 달러
['3', '달러']

In [44]:
li = [1,2,3,4,5]
r = enumerate(li) 
print(r)

<enumerate object at 0x003C4328>

In [51]:
li = ['a', 'b', 'c', 'd', 'e']
val = [0,2,4]
result = []
for index, el in enumerate(li):
    if index in val:
        result.append(li[index])

print(result)

['a', 'c', 'e']

In [53]:
def make_dict (**kwargs):
    return kwargs

make_dict(a=1, b=2, c=4)

{'a': 1, 'b': 2, 'c': 4}

In [59]:
def signup (id, pw, ck):
    if pw == ck:
        return True
    else:
        return False

new_account = {'id' : 'img83838', 'pw':'1234', 'ck':'1234'}

In [55]:
signup(new_account)

TypeError: signup() missing 2 required positional arguments: 'pw' and 'ck'

In [61]:
signup(**new_account)

True

In [63]:
li = [1,2,3]
li.reverse()
print(li)

[3, 2, 1]

In [68]:
li = [1, 5, 6, 2, 3, 10]
r = sorted(li)
print(li)
print(r)

[1, 5, 6, 2, 3, 10]
[1, 2, 3, 5, 6, 10]

In [73]:
li = [1,2,3]
r = reversed(li)
print(list(r))

[3, 2, 1]

In [76]:
a = [2*x for x in range(1,6)]
print(a)

[2, 4, 6, 8, 10]

In [79]:
boys = ['한스', '데이빗', '존']
girls = ['지나', '수잔', '데아']

b = [(girl, boy) for girl in girls for boy in boys]
print(b)

[('지나', '한스'), ('지나', '데이빗'), ('지나', '존'), ('수잔', '한스'), ('수잔', '데이빗'), ('수잔', '존'), ('데아', '한스'), ('데아', '데이빗'), ('데아', '존')]

In [101]:
#x<y<z<50일 때 

c = [(x,y,z) for x in range(1,50) for y in range(x+1, 50) for z in range(y+1, 50) if x**2 + y**2 == z**2]
print(c)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

In [104]:
c = [(x,y,z) if x**2 + y**2 == z**2 for x in range(1,50) for y in range(x+1, 50) for z in range(y+1, 50)]
print(c)

SyntaxError: invalid syntax (<ipython-input-104-af17f1860f7c>, line 1)

In [91]:
words = 'life is too short. you need python'
vowel = 'aeiouAEIOU'

result = []
for alph in words:
    if alph not in vowel:
        result.append(alph)
print("".join(result))

k = [x for x in words if x not in vowel]
print("".join(k))

lf s t shrt. y nd pythn
lf s t shrt. y nd pythn

In [95]:
my_dict = {n:n**3 for n in range(10)}
print(my_dict)

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}

In [97]:
dusts = { '서울': 100, '대전': 70, '부산': 90, '대구':40 }
bad = {city: value for city, value in dusts.items() if value > 80 }
print(bad)

{'서울': 100, '부산': 90}

In [105]:
how_bad = {city: 'bad'  if value> 80 else 'not bad' for city, value in dusts.items()}
print(how_bad)

{'서울': 'bad', '대전': 'not bad', '부산': 'bad', '대구': 'not bad'}

In [111]:
def remove_all (target, li):
    li = list(li)
    for num in range(0, li.count(target)):
        li.remove(target)
    return li

remove_all('p', 'apple')

['a', 'l', 'e']

In [112]:
def remove_all (target, string):
    for num in range(0, string.count(target)):
        del string(target)
    return string

SyntaxError: can't delete function call (<ipython-input-112-af723b026341>, line 3)

In [120]:
a = ['a', 'b', 'c', 1]
k = list(reversed(a))
for num in k:
    print(num)

1
c
b
a

In [135]:
k = '3 달러 이다'
l = k.split()
print(l)
r = list(k)

print(r)

['3', '달러', '이다']
['3', ' ', '달', '러', ' ', '이', '다']

In [139]:
my_input = input()
l = list(map(int, my_input.split()))
print(l)

3 4
[3, 4]

In [143]:
li = [1,2,3,4,5]
st = "".join(list(map(str, li)))
sk = "".join(li)
print(sk)

TypeError: sequence item 0: expected str instance, int found

In [153]:
def ispalindrome (st):
    st = st.lower()
    st = st.replace(" ", "")
    k = "".join(reversed(st))
    if k == st:
        return True
    else:
        return False
    
ispalindrome('A santa at NASA')

True

In [158]:
txt = 'toma to'
"".join(reversed(txt))

'ot amot'

In [161]:
'a    recursive'.lstrip()

'a    recursive'

In [164]:
greeting = 'hhi'
greeting.swapcase()
print(greeting)

hhi

In [173]:
a = '3 달러 달라'
r = a.split()
a.count('달')

2

In [176]:
my_list = [4,3,2,1]
r = sorted(my_list)
print(my_list)
print(r)

[4, 3, 2, 1]
[1, 2, 3, 4]

In [179]:
my_list = [4,3,2,1]
sorted_list = my_list.sort()
print(my_list)
print(sorted_list)

[1, 2, 3, 4]
None

In [189]:
l = [1,2,3]
r = l.reverse()
k = reversed(l)
print(r, l, list(k))

None [3, 2, 1] [1, 2, 3]

In [195]:
fruits = {'apple': '사과', 'banana':'바나나'}
fruits.update(banana : '버내너')

SyntaxError: invalid syntax (<ipython-input-195-a666c555a025>, line 2)

In [199]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [202]:
2**8

256

In [205]:
a = 1+5j
type(a)
1 + a

(2+5j)

In [207]:
max([1,2,3])

3

In [209]:
s = {1,2,3}
list(enumerate(s))

[(0, 1), (1, 2), (2, 3)]