# Many to Many Relation



## Student

| id(PK) | name      |
| ------ | --------- |
| INT    | CharField |



## Enrollment

| id(PK) | lecture(FK) | student(FK) |
| ------ | ----------- | ----------- |
| INT    | INT         | INT         |





## Lecture

| id(PK) | title     |
| ------ | --------- |
| INT    | CharField |

In [ ]:
Student.objects.all().delete()

In [ ]:
Lecture.objects.all()

In [ ]:
Enrollment.objects.all().count()

In [ ]:
s1=Student.objects.create(name='백지원')
s2=Student.objects.create(name='유태영')
s3=Student.objects.create(name='조성규')
s4=Student.objects.create(name='심이주')

In [ ]:
l1=Lecture.objects.create(title='통계학개론')
l2=Lecture.objects.create(title='알고리즘의 이해')

In [ ]:
Enrollment.objects.create(student=s1, lecture=l1)
Enrollment.objects.create(student=s1, lecture=l2)
Enrollment.objects.create(student=s2, lecture=l1)
Enrollment.objects.create(student=s3, lecture=l1)
Enrollment.objects.create(student=s4, lecture=l1)
Enrollment.objects.create(student=s2, lecture=l2)

In [ ]:
s1enroll=s1.enrollment_set.all()
for enroll in s1enroll:
    print(enroll.lecture.title)

In [ ]:
s1enroll=s1.enrollment_set.all()
for enroll in s1enroll:
    if len(enroll.lecture.title) > 5:
        print(enroll.lecture.title)

In [ ]:
s3enroll=s3.enrollment_set.all()
for enroll in s3enroll:
    print(enroll.lecture.title)

In [ ]:
l1student = l1.enrollment_set.all()
for enroll in l1student:
    print(enroll.student.name)

In [1]:
Hotel.objects.all()

<QuerySet [<Hotel: Hotel object (1)>, <Hotel: Hotel object (2)>, <Hotel: Hotel object (3)>, <Hotel: Hotel object (4)>, <Hotel: Hotel object (5)>, <Hotel: Hotel object (6)>, <Hotel: Hotel object (7)>, <Hotel: Hotel object (8)>, <Hotel: Hotel object (9)>, <Hotel: Hotel object (10)>]>

In [2]:
Client.objects.all()

<QuerySet [<Client: Client object (1)>, <Client: Client object (2)>, <Client: Client object (3)>, <Client: Client object (4)>, <Client: Client object (5)>, <Client: Client object (6)>, <Client: Client object (7)>, <Client: Client object (8)>, <Client: Client object (9)>, <Client: Client object (10)>]>

In [4]:
Client.objects.all().values('id','name')

<QuerySet [{'id': 1, 'name': 'Jeffrey Wright'}, {'id': 2, 'name': 'Douglas May'}, {'id': 3, 'name': 'Clarence Soto'}, {'id': 4, 'name': 'Michael Krause'}, {'id': 5, 'name': 'Dennis Pruitt'}, {'id': 6, 'name': 'Jeffrey Salas'}, {'id': 7, 'name': 'Robert Guerrero'}, {'id': 8, 'name': 'Timothy Shepard'}, {'id': 9, 'name': 'Kristen Wilson'}, {'id': 10, 'name': 'Connor Zimmerman'}]>

In [7]:
Hotel.dummy_data(1)

In [8]:
Client.dummy_data(1)

In [9]:
Client.objects.last().hotel_set.count()

0

In [14]:
Hotel.objects.last().clients.all()

In [16]:
new_hotel = Hotel.objects.last()
new_hotel.clients.add(Client.objects.last())
new_hotel.clients.add(Client.objects.get(id=1), Client.objects.get(id=3), Client.objects.get(id=5), Client.objects.get(id=7))
new_hotel.clients.all()

In [18]:
new_hotel.clients.filter(name__contains='h')

In [20]:
client = Client.objects.get(id=1)
client.hotel_set.add(Hotel.objects.get(id=2), Hotel.objects.get(id=4), Hotel.objects.get(id=6))

In [22]:
client.hotel_set.all().values('id','name')

<QuerySet [{'id': 10, 'name': 'Kenneth Roberts'}, {'id': 1, 'name': 'Natasha Lewis'}, {'id': 2, 'name': 'Kevin Stone'}, {'id': 11, 'name': 'Moreno, Hill and Espinoza'}, {'id': 4, 'name': 'Gene Brown'}, {'id': 6, 'name': 'John Allen'}]>